[2012-08-15 22:00] treeder opened #1 "Release 1.8 compatible gems"

[2012-08-15 22:12] odeits opened #2 "Logging for Message Queue"
Ability to enabled Logging for a Message Queue that records Method Called, Args, Client Info, Timestamp

Reason:
   When debugging client code it is crucial to have transparency into the queue to eliminate sources of errors.

[2012-08-16 00:15] ghost opened #3 "Add support for grouped requests"
We are calculating an aggregate score based on a large number of cached individual scores. It would be very helpful to query, say, 50 keys at once, as opposed to sending 50 separate requests.

[2012-08-16 17:29] odeits opened #4 "MQ Rackspace Hud Analytics and Usage don't line up"
The Analytics graph and Usage tab report different numbers for IronMQ on Rackspace.

Expected Result:
   Analytics numbers should match Usage numbers.

Actual Result:
   Analytics shows zero on many days. Usage reports expected numbers.

Cloud: Rackspace
Product: IronMQ
ProjectId: 4fc941faf709a2551900b9d2

[2012-08-22 19:02] odeits opened #5 "Editing Webcrawling at Scale with Nokogiri and IronWorker (Part 1)"
Article:
http://blog.iron.io/2012/08/webcrawling-at-scale-with-nokogiri-and.html

Format:
   Found
   Expected
   Reason

The reason is so you can scale the work horizontally without any additional effort just by queuing up ...
The reason is so that you can scale the work horizontally without any additional effort just by queuing up ...
Makes for an easier read.

Once the general structure of the

[2012-08-22 19:08] frommww commented on #5
Thanks for the catches. Changes made. Much appreciated.

[2012-08-22 19:08] #5 closed, assigned to frommww

[2012-08-22 22:33] odeits opened #6 "Homepage IronCache Css"
Setup:
   Chrome 21.0.1180.83

Steps:
   1) Load http://www.iron.io
    2) Scroll down to IronCache

Expected Result:
   Code window has "Storing Data" tab selected and "Storing Data" text is white
Actual Result:
   Code window has "Storing Data" tab selected and "Storing Data" text is grey

Notes:
   If you select another tab and then select the Storing Data tab text does get correctly set to whi

[2012-08-26 19:20] treeder commented on #3
A multi get function is definitely on our roadmap, will update here when it's done.

[2012-08-26 20:05] ghost commented on #3
Thank you for your reply. This is the only issue that keeps us from using IronCache.

[2012-08-27 08:10] odeits commented on #6
the problem seems to stem from this

&lt;li id="storingDataItem" class="vertical-nav" class="active" &gt;Storing Data&lt;/li&gt;

notice the class attribute is defined twice. the second definition is ignored.

should be:

&lt;li id="storingDataItem" class="vertical-nav active" &gt;Storing Data&lt;/li&gt;

[2012-08-27 08:15] odeits opened #7 "www.iron.io assets are not cached"
Static resources such as images and script files have their cache control set to no-cache. These assets should be served from a CDN and have long expire times.

[2012-08-27 08:26] odeits opened #8 ""Learn More" links on solutions page do not have pointer cursor"
Steps:
Load www.iron.io/solutions
Hover over "Learn More" links that look like buttons.

Expected result:
   Cursor should change to pointer to indicate clickability
Actual result
   cursor is unchanged.

[2012-08-27 19:20] codydotio commented on #6
This is fixed and on staging-web.iron.io

[2012-08-27 19:20] #6 closed, assigned to codydotio

[2012-08-27 19:23] codydotio commented on #8
Fixed and on staging-web.iron.io

[2012-08-27 19:23] #8 closed, assigned to nobody

[2012-08-28 02:41] odeits opened #9 "Dev Center Subnavigation does not conform to site standard"
The subnavigation and navigation are visual similar ( as they should be ) however the main navigation on hover has a 'depressed' look on mouse hover and the subnavigation does not.

Both are navigation elements that are 'toggled' when on the appropriate page.

Steps

Load http://dev.iron.io
Hover over IronWorker

Expected result:
  Deperesed or other visual highlight and pointer cursor

Actual res

[2012-08-28 17:00] odeits opened #10 "Pointer Cursor missing from "Get Started" buttons"
The "Get Started" buttons have a highlight effect but no pointer cursor when hovering over.

Steps

Load http://www.iron.io
Hover over "Get Started" button in any of the product sections (e.g. IronWorker )

Expected Result
  Pointer Cursor
Actual Result
  Default Cursor

[2012-08-28 17:27] odeits commented on #10
The btn class should probably have cursor: pointer to avoid this in the future.

[2012-08-28 17:30] treeder commented on #7
Good call, we'll be working on this. Starting with changing expiry times. cc @thousandsofthem

[2012-08-28 17:30] treeder commented on #4
cc @rkononov

[2012-08-28 17:31] treeder commented on #2
Hi @odeits , can you explain the use case a bit more?

[2012-08-28 17:33] odeits opened #11 "We run on, Push button provisioning images aren't clickable."
These sections have links to clouds and services in the text but the images themselves aren't clickable.

Steps:
1. Load http://iron.io
2. Scroll to "Any Platform ...:
3. Hover over AWS Icon / Image

Expected Result:
- Image is a link
- Image is clickable

Actual Result:
- Image is not a link
- Image is not clickable

[2012-08-28 17:35] odeits commented on #11
By moving the anchor tag for the text to include the image this will resolve the issue.

[2012-08-28 17:37] odeits opened #12 "In your language logos don't have links"
Any Platform, Any Cloud, Any Language. Both Any Platform and Any Cloud have links to their respected sources; however, the Any Language section is just images with no links.

Steps:
1. Load http://www.iron.io
2. Scroll to Any Platform, Any Cloud, Any Language.
3. Click on PHP logo

Expected result:
- PHP website is loaded in new tab

Actual result:
- No op.

[2012-08-28 17:45] odeits commented on #2
I had a case where messages appeared to be vanishing. Without the ability to create a 'debug' logged queue it was more difficult than it could have been to track down the source of the missing messages. In my case it turned out a dev machine got access to the wrong credentials and was silently consuming messages it shouldn't have. With an ability to turn on minimal logging it would have been more

[2012-08-28 17:45] thousandsofthem commented on #7
[code]

should help as temporary solution. we must use truly unique file names to achieve longer expire times, e.g. 1 year

[2012-08-28 21:04] odeits opened #13 "Learn How button in homepage slider doesn't have pointer"
Learn How button in the large homepage slider doesn't have cursor pointer.

Steps:
1. Load http://www.iron.io
2. hover over learn how button

Expected result:
- Pointer cursor

Actual result:
- default cursor

[2012-08-28 21:06] odeits commented on #13
Relates to #10 however these are "button" classed and in issue #10 they are "btn" class

[2012-08-29 13:16] rkononov commented on #4
fixed will be released soon

[2012-08-29 18:48] treeder opened #14 "Support git location for a gem"
eg:

[code]

[2012-09-04 18:08] codydotio commented on #11
This has been edited and is on staging

[2012-09-04 18:08] #11 closed, assigned to nobody

[2012-09-04 18:22] codydotio commented on #12
This has been edited and is on staging

[2012-09-04 18:22] #12 closed, assigned to nobody

[2012-09-04 18:26] codydotio commented on #10
Edited and on staging

[2012-09-04 18:26] #10 closed, assigned to nobody

[2012-09-04 18:27] codydotio commented on #13
Edited and on staging

[2012-09-04 18:27] #13 closed, assigned to nobody

[2012-09-04 18:28] #9 closed, assigned to codydotio

[2012-09-05 16:55] odeits commented on #7
Possibly helpful resources:
1. http://code.dblock.org/rails-s3-cloudfront-jammit-heroku-100
2. http://code.dblock.org/pushing-assets-to-s3-w-rake-versioning-and-cache-expiration

[2012-09-08 19:00] pax95 opened #15 "Ssl error connecting to Rackspace"
Hi

When connecting IronMQ to Rackspace i get an java error

javax.net.ssl.SSLException: Received fatal alert: unexpected_message
    at com.sun.net.ssl.internal.ssl.Alerts.getSSLException(Alerts.java:190)[:1.6]
    at com.sun.net.ssl.internal.ssl.Alerts.getSSLException(Alerts.java:136)[:1.6]
    at com.sun.net.ssl.internal.ssl.SSLSocketImpl.recvAlert(SSLSocketImpl.java:1839)[:1.6]
    at com.sun.

[2012-09-08 19:23] carimura commented on #15
@treeder @edsrzf FYI help if possible

[2012-09-08 19:28] odeits commented on #15
Had similar problem with python client. Problem was with the ssl version. The solution in the python client might be helpful.

https://github.com/iron-io/iron_mq_python/commit/eb03466632e573ed27d5ab5d0c6e4cb0adbcad93

@paddyforan might have more insight.

[2012-09-09 09:48] pax95 commented on #15
@carimura @odeits I fixed the problem in the ironmq java lib and submitted a pull request. Take a look and see if it's ok

[2012-09-09 17:05] treeder commented on #15
cc @edsrzf

[2012-09-20 23:57] joelvh opened #16 "Webhooks on worker error (feature request)"
It would be very handy to not only receive an email notification, but also let the program that queued the task to be notified when the worker is done, particularly when it fails. Thanks

[2012-09-26 03:56] odeits opened #17 "[HUD] Project Link goes out of context."
Description:
   Project Link always goes to  Worker, not the 'Getting Started' tab of the current section.

Steps:
1. Load the hud.
2. Select a MQ Project
3. Click 'Queues" tab ( Optional step for clarity of desired result )
4. Click the Project link in the top left ( Project Name next to cloud icon )

Expected Result:
- Loads 'Getting Started' tab of MQ

Actual Result:
- Loads 'Getting Started'

[2012-09-26 03:57] odeits opened #18 "[HUD] MQ and Cache products lack ability to 'close' getting started tab that Worker has."
Worker Product in hud has the ability to 'close' the "Getting Started' tab. This functionality is missing from MQ and Cache.

[2012-09-26 04:13] odeits opened #19 "[HUD] Css and animations in IE9"
### IE9 Marked up

 https://www.dropbox.com/s/ecr8bl3wb530rp0/hud_ie9%20-%20highlited.png
### Chrome for comparison

https://www.dropbox.com/s/h5anc9c1z335w16/hud_chrome.png
#### IE9 Clean

https://www.dropbox.com/s/ts61gyofzpet8oe/hud_ie9.png

[2012-09-26 04:21] odeits opened #20 "[HomePage] Buttons css in IE9"
Buttons are almost invisible.
### IE9

https://www.dropbox.com/s/bx4m24zzpxoynj2/home_ie9.png

[2012-09-26 13:04] jamland commented on #19
please assign all HUD style issues to me next time
regards your screenshot
- Ignore all flat colors where should be gradients for IE
  (IE doesn't support css gradients yet, but this isn't big deals for us on HUD)
- ignore all empty placeholders for inputs for IE, like this search text
  (IE doesn't sopport it yet)
- ignore bottom gears animation for IE.

– i will fix green for load bars

[2012-09-26 13:14] jamland commented on #19
![GitHub Logo](https://www.evernote.com/shard/s38/sh/3bd1af08-e768-4a7e-aec2-107f78199c2a/f902b43fd929a004a218722ad86ca457/res/c389b719-d8eb-434c-b741-36838663e8ed/skitch.png)

[2012-09-26 13:14] #19 closed, assigned to jamland

[2012-10-01 17:57] treeder commented on #16
Hi @joelvh , we've had this request a few times and it's something we want to provide soon.

[2012-10-02 21:35] odeits opened #21 "HomePage Broken Layout"
https://www.dropbox.com/s/o8bi681rmppds3l/home_crome.png

Chrome Version 22.0.1229.79 m

Also appears in Safari 5.1.7 (7534.57.2)

Console reported no errors on the page.

[2012-10-02 21:43] odeits commented on #21
It would seem reducing the width to 305px on .home-products .your-language ul.logos-list corrects this.

[2012-10-02 21:48] odeits commented on #21
About My Browser:
- https://aboutmybrowser.com/RJdcW4N0
- https://aboutmybrowser.com/AKYTmCnB

[2012-10-02 21:50] codydotio commented on #21
Thanks, wasn't able to repro but I edited the width and it's on staging to go out.

[2012-10-02 21:50] #21 closed, assigned to nobody

[2012-10-02 22:02] odeits opened #22 "Solutions Page Illegible Button"
http://www.iron.io/solutions/web-crawling

https://www.dropbox.com/s/gxxsezyslmwso16/solutions_web-crawling.png

[2012-10-02 23:31] codydotio commented on #22
Fixed and on staging

[2012-10-02 23:31] #22 closed, assigned to nobody

[2012-10-08 03:46] odeits opened #23 "[HUD] button css class does not have cursor pointer"
Buttons on the HUD for Worker do not have "hand pointer' on hover.

Steps:
1. Load "Tasks" tab of Worker product
2. Mouse over "Cancel All Tasks" button

Expected result:
- hand pointer cursor

Actual result:
- regular cursor

Note: this issue is prevalent throughout the Worker HUD but addressing it on the 'button' css class should fix it most places.

[2012-10-08 19:50] paddycarver opened #24 "Support creating new OAuth tokens via the API"
It would be nice if our API supported creating new API tokens. Of course, we'd have to limit the token creation to Admin tokens only, or something, and we may even want to make it impossible to generate Admin tokens.

[Original user request](http://stackoverflow.com/questions/12777865/create-a-user-in-ironmq-via-api).

[2012-10-14 04:19] mrcritical opened #25 "IronCache memcache connection unstable"
It appears that the memcache interface for IronCache becomes unstable after only a few minutes of inactivity.  Making frequent requests within seconds seems to work just fine, and is fast (less than 50ms).  But wait a minute or two, try again, and the connection disconnects and must be reestablished.  This takes about 2 seconds to complete.  This happens repeatedly.

I am using Java with spymemcac

[2012-10-15 16:29] treeder commented on #25
Hi @mrcritical , the reason for this is that the load balancer we are using has a 60 second timeout. Can you try to perform an operation at least once per minute?  Some random "get" or something?

[2012-10-15 21:11] mrcritical commented on #25
Wow.  That seems crazy. It would add up to around 43k+ junk requests per month. But, if that is what is required to keep a fast connection, so be it. I will try it and report back.

By the way the best request time during my testing is 40ms (memcache) vs 400ms (http). It is a pretty big difference.  So thanks for making the memcache protocol available.

[2012-10-15 22:34] treeder commented on #25
Ya, it can be wasteful if you're not using it very often. And just to note, the http endpoints can be quite fast after the initial request if you keep the http connection open. If you time the requests after the the first one, they should be in the 10's of ms too (as tested with our Ruby driver).

[2012-10-16 01:48] mrcritical commented on #25
Using keep-alive I was able to see a low of 47ms.  It has a greater variance then the memcached interface.  But it certainly can get as low.  I will look into building a client for Java and then test it compared to memcached.  I'm not very fond of sending junk requests.

Thanks for the quick responses.

[2012-10-16 04:06] carimura opened #26 "Node worker timeout issue"

[2012-10-16 16:24] mrcritical commented on #25
I finished the client.  My initial tests look good.  I do see the 60 second timeout, but the API call only takes between  200ms to 800ms instead of the over 2 seconds consistently when using memcached.  So this is a definite improvement, without sending junk requests.

The average request time using the HTTP API with keep-alive is 49ms.  This is from AWS to my local (Florida).  So I expect better

[2012-10-16 16:24] #25 closed, assigned to nobody

[2012-10-16 16:27] carimura commented on #25
Thanks for the update @mrcritical, great to hear. Please keep us posted as you move into production.

[2012-10-16 16:41] treeder commented on #25
@mrcritical good to hear. Feel free to open source your client. ;) And you should see times closer to 10ms when on ec2.

[2012-10-16 18:22] codydotio opened #27 "Sign up on web uses placeholder="", ie doesn't support placeholder"

[2012-10-16 19:53] codydotio commented on #27
Using modernizr feature detection, uses js if placeholder not supported.

[2012-10-16 19:53] #27 closed, assigned to codydotio

[2012-10-16 19:56] codydotio commented on #20
Fixed and on staging.

[2012-10-16 19:56] #20 closed, assigned to codydotio

[2012-10-17 17:45] mrcritical commented on #25
Here is the start of the client, https://github.com/mrcritical/ironcache.  I still have to add many more test cases, but it works as is.

[2012-10-20 13:14] gelform opened #28 "Feature request: search tasks by id and/or tag"
I'd like to be able to add an array of one or more tags to tasks. Then I should be able to search and filter by those tags. I'd also like to be able to search for task id. Trying to find one now is impossible.

[2012-10-22 21:02] treeder commented on #28
Thanks for submitting this. The tagging thing might take a bit, but searching by task ID makes a lot of sense and should be pretty easy to get it in. I've created an internal ticket for the team to get that in.

[2012-10-22 21:51] gelform commented on #28
Cool, thanks.

On Mon, Oct 22, 2012 at 5:02 PM, Travis Reeder notifications@github.comwrote:

##

//
Corey H Maass
Brooklyn, NY
646/228.5048

[2012-10-24 01:35] alsonkemp opened #29 "Add optional delete parameter to get request"
"delete: delete returned items from the queue rather than placing them into a pending-delete queue"

Chat logs:
Alson Kemp
6:29 PM
so I have a bunch of log stuff in the queue and deleting items from the queue is where I spend a majority of my time.
Alson Kemp
6:31 PM
I don't mind if I lose a small percentage of items, so I'd love a optional parameter of "delete: delete returned items from the queu

[2012-10-24 01:39] odeits commented on #29
What about a multi delete endpoint?

[2012-10-24 02:14] alsonkemp commented on #29
Optional-Delete: fastest, but riskiest.  Helps me 100%.
Multi-Delete: 100% slower-than-fastest_, but safer.  Helps me 90%.
\_ By which I mean, optional-delete costs me 1 request and multi-delete costs me 2 (get + multi-delete).

Obviously, you know your system and capabilities better than do I, so I'm happy to revise this ticket to reflect what you tell me you'd like to implement.

[2012-10-24 17:59] paddycarver commented on #29
Oscar, despite all appearances, does not actually work for Iron.io :P Or, to be more accurate, we don't employ him. ;)

I like both proposals. I think we were kicking around the idea of a multi-delete a few months ago, but I'm not sure it ever went anywhere.

We've been lightly discussing the possibility of a new revision for our API. I can't promise the discussion will come to anything, but we'll

[2012-10-27 19:32] thousandsofthem opened #30 "IronCache: 500 error on incrementing"
Issue from @odeits
HTTPException: 500: internal error on incrementing an item

url: https://cache-aws-us-east-1.iron.io:443/1/projects/4fcfd7c568a0197d1101a61e/caches/urls/items/primary_key/increment

[2012-10-28 08:04] odeits opened #31 "[IronCache] Increment on new cache results in 404"
On a 'brand new cache' if the first operation is an increment the result is  `404: Cache not found.`

Steps:
1. Have a valid project
2. call increment on a non existent cache

Expected results:
1. Cache is created
2. Increment operation succeeds

Actual results:
1. Cache is not created
2. Increment operation fails
3. 404 error returned

This expectation is based on the behavior of 'put' that creat

[2012-10-31 21:05] edsrzf commented on #30
This should be fixed as of last night.

[2012-10-31 21:05] #30 closed, assigned to nobody

[2012-11-05 06:25] emp123 opened #32 "How to make Twilio + Iron app for windows phone 7"
I want to know that how can I make an app which will make a call on user's mobile at predefined time using twilio and iron.

[2012-11-05 17:45] treeder commented on #32
Hi @emp123 , you can check out this blog post: http://blog.iron.io/2012/10/how-to-schedule-sms-and-calls-on-twilio.html

It really doesn't matter what type of phone they are using, you can initiate a call to any phone. Also, you can use those Ruby examples even if your app is in a different language since they run separately from your app, you just queue/schedule them via our HTTP api: http://dev.

[2012-11-05 19:18] odeits opened #33 "[HUD] Poor loading"
Referencing the wrong address for jquery validate on the CDN. It should be https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js

[2012-11-06 05:17] emp123 commented on #32
Hi treeder! Thanks for reply.
Actually I am not getting how to do this for windows phone 7? Should I write my logic on Iron + Twilio app at Iron.Io? But in that case I have a problem that is I want user will set Date and Time or Time parameter through his/her Windows Phone 7 device and at that time a call will schedule in my Twilio + Iron app and at that time a call (incoming call) will go  on use

[2012-11-07 18:19] treeder commented on #32
Hi @emp123 , try using this worker that you can out of the box, no coding required: https://github.com/treeder/twilio_worker

Just upload it to your account with `iron_worker upload https://github.com/treeder/twilio_worker/blob/master/twilio.worker`

Then you can just post tasks via our HTTP api, see the README for the curl command or review the docs in my comment above.

[2012-11-15 04:50] kesavkolla opened #34 "Node.js client library"
Client library for node.js would be greatly appreciated.

[2012-11-15 04:52] ScottEAdams opened #35 "Unable to install some python module upgrades (pymongo for example) when module already installed"
As pymongo is already installed it makes it impossible to install/upgrade the latest version using the same trick as posted http://stackoverflow.com/questions/13285901/how-to-bundle-python-dependancies-in-ironworker/13296163#13296163

To start with it would be good to update pymongo in general to 2.3 whilst figuring out a long term solution.

Downloading/unpacking pymongo==2.3
  Running setup.py e

[2012-11-15 17:45] treeder commented on #34
@kesavkolla which Iron.io service are you looking to use. There's a node library for IronMQ here: https://github.com/iron-io/iron_mq_node

And some docs on how to use IronWorker here: http://dev.iron.io/worker/languages/nodejs/

[2012-11-15 18:36] kesavkolla commented on #34
I was looking for IronCache node.js library.

Regards,
-Kesav

Sent from my iPhone

On Nov 15, 2012, at 9:45 AM, Travis Reeder notifications@github.com wrote:

[2012-11-16 00:03] codydotio opened #36 "Update testimonial slider on home footer"

[2012-12-03 08:32] #36 closed, assigned to codydotio

[2012-12-06 07:26] carimura commented on #26
Customers affected.

[2012-12-06 07:27] abelaska commented on #26
+1
maybe node.js version upgrade is in order or implement timeout support for scheduled workers.

Those scheduled workers timeouted, hope it helps you to find the problem.
https://hud.iron.io/tq/projects/50124cab0008f20896004ec7/jobs/50bed50595bc93ec7f14b2f2
https://hud.iron.io/tq/projects/50124cab0008f20896004ec7/jobs/50be2c4395bc93ec7f142c83
https://hud.iron.io/tq/projects/50124cab0008f20896004e

[2012-12-06 07:37] abelaska commented on #34
I am using https://npmjs.org/package/memcached module to communicate with IronCache, It is much faster than REST API.

ex.
var Memcached = require('memcached'),
    memcached = new Memcached('cache-aws-us-east-1.iron.io:11211');

memcached.set('oauth', TOKEN+' '+PROJECT_ID+' '+CACHE_NAME, 0, function(err, result){
  if (err) {
    console.log('Failed to set oauth to IronCache', err);
    throw err

[2012-12-10 22:04] paddycarver opened #37 "HUD references invalid jQuery Validate CDN"
Hi. I wanted to let somebody know that on your queue page you are referencing https://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js which is not a valid reference. microsoft changed their CDN address to ajax.aspnetcdn.com as such it takes 30 seconds to load the queue because I have to wait for the validate script to fail to load every time

[2012-12-10 22:05] paddycarver commented on #37
"I cleared my microsoft.com cookies and now it works, but that is why they changed the cdn is because it sends all the cookies, and in my case I had so many the request failed."

Both reports are from customer Tim Schroeder

[2012-12-11 01:33] thousandsofthem commented on #17
Fixed a while ago.

[2012-12-11 01:33] #17 closed, assigned to thousandsofthem

[2012-12-29 18:43] dxjones opened #38 ""GET Queue" should reveal number of messages claimed by workers, but not yet deleted"
The current API, "Get Queue" only reveals the "size" of the Queue.  This is the number of messages posted to the queue, but not yet claimed (or deleted) by workers.

The number of messages claimed by workers (but not yet deleted) remains hidden from view.  This is a problem for novices, since the workings of IronMQ remain a bit mysterious, and it is a problem for experienced developers because wor

[2012-12-29 18:53] dxjones opened #39 "IronMQ Documentation Overview needs 5th item (Check Queue Size)"
In the [Overview page](http://dev.iron.io/mq/) of the IronMQ Documentation, it only lists 4 items.

A 5th item should be added: Check Queue Size

This seems like an essential operation that should be mentioned in the overview.

[2012-12-29 19:13] dxjones commented on #38
I just realized, there is another hidden number associated with each queue:  the number of posted messages with an associated delay, waiting to be added to the queue.

Messages in a Queue can be in 3 possible states:
- messages waiting to become available to workers (posted with a delay)
- messages available to workers now
- messages claimed by a worker, but not yet deleted (could become available

[2013-01-01 21:09] treeder commented on #38
Hi @dxjones , the size returned is the total number of messages in the queue that have not been deleted or expired.  And I agree having sizes for all the different states would be nice, but there's technical reasons behind us not providing them. Namely that it's taxing to calculate and/or keep track of these states.

[2013-01-01 21:40] dxjones commented on #38
Hi,

I can understand you need to keep the queues very efficient, and avoid
expensive operations.

From what you say, "size" = messages in all 3 states (waiting, available,
claimed)
As a consequence, I can't imagine when it would ever be useful to query the
size !
Can you tell me a situation when "size" would actually be useful?

The alternative approach for a worker would be simply to do a getMes

[2013-01-01 22:05] treeder commented on #38
Size really isn't intended for workers to use, it's more informational. And yes, the typical usage is to get a message and process it, and if none are available it can sleep for a bit then try again.

[2013-01-02 22:42] dxjones opened #40 "POST Codes should return ID (similar behaviour to POST Messages)"
The REST API has some inconsistencies that should get cleaned up.

Here is one example:  POST Messages vs POST Codes

With IronMQ, when you [add a message to a queue](http://dev.iron.io/mq/reference/api/#add_messages_to_a_queue),
the HTTP response includes the ID of the message.

[code]

With IronWorker, when you [add new code](http://dev.iron.io/worker/reference/api/#upload_a_code_package),
the H

[2013-01-03 01:06] treeder commented on #40
Ya, that makes sense. I've added it to our list and will update here when it's available.

[2013-01-03 13:33] thousandsofthem commented on #33
https://ajax.aspnetcdn.com/ sometimes going to timeout & slowing down hud. removed completely.

[2013-01-03 13:33] #33 closed, assigned to thousandsofthem

[2013-01-19 15:12] rbpasker opened #41 "iron_worker .worker file parsing error messages are way too cryptic"
for example, this is from leaving out an argument for dir:

/Users/rbp/.rvm/gems/ruby-1.9.3-p362/gems/iron_worker_ng-0.15.0/lib/iron_worker_ng/code/base.rb:85:in `eval': wrong number of arguments (0 for 1) (ArgumentError)
    from (eval):7:in`block (2 levels) in initialize'

this is from not having a correct argument for dir:

[code]

/Users/rbp/.rvm/gems/ruby-1.9.3-p362/gems/iron_worker_ng-0.15.0

[2013-01-22 02:39] iced commented on #41
Will fix in next gem release.

[2013-02-06 10:06] carimura commented on #39
Hey @paddyforan - as the author of the page, want to comment/tackle?

[2013-02-06 10:09] carimura commented on #34
There's an additional community developed library now that can be found here:

https://github.com/ahallock/node-ironio

[2013-02-06 10:09] #34 closed, assigned to nobody

[2013-02-06 10:10] #37 closed, assigned to thousandsofthem

[2013-02-06 10:34] hyperthunk opened #42 "Please add working level langauge support for Haskell"
This _should_ be as simple as integrating the relevant release of the haskell-platform package from whatever upstream repository the package manager uses.

[2013-02-06 23:11] treeder commented on #39
I'm not sure checking queue size is an operation for a getting started page. But it should link to the API docs more clearly in "next steps" so people can find all the other functions easily.

[2013-02-06 23:13] paddycarver commented on #39
I can get behind linking to it in the next steps part. I agree with @treeder though; not sure it _really_ belongs in the getting started page. I'll tackle this in the next 24 hours.

[2013-02-09 05:39] treeder commented on #42
We're looking into this. Good chance it will happen soon. Along with erlang.

[2013-02-09 05:50] adelevie opened #43 "Proposed DSL for scheduling IronWorker tasks"
[code]

[2013-02-12 17:34] iced commented on #1
we have them! :)

[2013-02-12 17:34] #1 closed, assigned to nobody

[2013-02-12 17:38] rbpasker opened #44 ""-payload <file>" is not parseable by getopt"
currently, workers expect argv to contain:

which is not parseable by getopt() functions in most languages

i propose a new `.worker` directive:

which would invoke the worker a getopt-compatible command line:

[2013-02-12 17:39] iced commented on #44
vote up for this. @travis - let's discuss and do it. it looks simple to support.

[2013-02-12 17:42] paddycarver commented on #44
I suspect this is more difficult than it originally appears, but if possible, I would also like to see it supported. Hand-parsing those command line options drives me nuts.

@iced you've been spending too much time in HipChat. He's @treeder here. ;)

[2013-02-12 19:17] treeder commented on #44
Hi @rbpasker, thanks for writing this up, your solution makes sense, I'll add it to our list. Were you able to work around it for now?

[2013-02-12 19:20] rbpasker commented on #44
yes -- handparsing :(

[2013-02-13 00:08] frommww opened #45 "Expand on security group issue within IronWorker and for IronMQ/IronCache"
Include mention of EC2 Security Group within IronMQ and IronCache. Call it out more in the docs in all three areas.

[2013-02-13 00:09] frommww commented on #45
Either add the IP Ranges or take out the line at the bottom paragraph of:

   http://dev.iron.io/worker/reference/environment/

[2013-02-27 16:51] hellysmile opened #46 "Implement REST HEAD"
Currently, there is no way to check if cache key exists, without getting cache key value.

Something like http response 404 for non existing key and 200 for existing

[2013-02-27 18:00] treeder commented on #46
Hi @hellysmile , good idea, we'll look into this. Thanks for posting.

[2013-02-28 03:55] eshao opened #47 "Feature Request: Queue details show head/tail of queue"
Perhaps the first 100 and last 100 messages in that queue.

[2013-02-28 18:05] EpicDraws commented on #3
+1. This is a blocking issue for us as well.

[2013-02-28 18:36] treeder opened #48 "Can you please add a way for producers to signal consumers out-of-band that there is no more work coming?"
From customer.

Some way to soft delete or flag a queue so that when a consumer tries to get a message it will return something (status code or message) saying there is no more work for a while.

[2013-02-28 18:37] treeder opened #49 "Batch delete messages"
Same as batch post/get, should be able to batch delete.

[2013-02-28 18:38] rbpasker commented on #48
yes!

but i would change the end: "saying there is no more work forthcoming, and the consumer can safely exit"

[2013-02-28 18:38] rbpasker commented on #49
yes

[2013-02-28 21:39] treeder commented on #3
Thanks guys, we're looking into this.

Just to be clear in terms of usage, you'd want to pass in a list of specific keys and get the results in one big json array?

[2013-03-01 01:30] EpicDraws commented on #3
Yes, for example a get which takes an array, and returns a hash. Also, Dalli for memcached has a multi block which allows for multiple set, update or add commands and batches them at the end of the block.

[2013-03-01 07:44] vikasaditya opened #50 "Add support for JSONP and CORS for put's from browser"
Like amazon s3 now allows CORS, allow JSONP & CORS.
Would be great to gather data directly from users and process it latter.

[2013-03-01 07:51] frommww commented on #35
@iced  or @paddyforan can one of you update this issue so that scott has some visibility on it?

[2013-03-01 08:35] jpsilvashy commented on #50
@vikasaditya, you're able to do this already, using the postback that amazon sends to your server, you can then queue up a task. The postback from AWS will contain filesize, filetype, filename and filepath.

You can use those as parameters to kick off your worker to go get the image, process it, and store it somewhere new!

[2013-03-01 11:28] vikasaditya commented on #50
@jpsilvashy

I guess I was not clear.

We want to be able to add a message to your service directly from browser using JSONP or CORS.
Can we do this?

We are using S3 as of now, but want to stop using that for this.

thanks.

[2013-03-01 12:48] rbpasker opened #51 "add the ability the *move* a message from one queue to the other, without requiring POST and DELETE"
normally, a consumer does GET message from q1 then DELETE message from q1

instead of deleting a message, I would like to move it to another queue, without requiring the consumer to GET/POST/DELETE. instead i would like to GET a message, then POST its unique ID to a second queue, to have it moved from the source queue to a second queue. it is important that the messageID and the other metadata not

[2013-03-01 12:49] rbpasker commented on #51
i think this would be especially important for PUSH queues, too, so that the messages don't just disappear, but can be stored for some period of time and then examined or replayed.

[2013-03-01 12:55] rbpasker opened #52 "message peeking should have a cursor, or allow queue scan operations"
I would like to write a program to non-destructively scan all the messages in a queue. Peek would do that, but it can only peek at the head of the queue. I would like the peek operation to return a cursor that can be used in a subsequent call to peek at the next set of messages.

i personally don't need it to fail-fast if the queue changes underneath the cursor, but there are other use cases when

[2013-03-01 13:15] rbpasker opened #53 "messages should be allowed to have a separate metadata document"
currently, when putting something on the queue, i have wrap each message as follows:

[code]

I would like to be able to do this:

[code]

and have the message metadata returned separately from the message body

the metadata part could be really short, like <1000 characters

this would open up a whole set of new kinds of usage:
1. consumers can peek/scan just the message metadata to see how much f

[2013-03-01 19:51] paddycarver commented on #50
Hey @vikasaditya,

This is something we've been discussing internally for quite some time. I'm looking into it, and hope we can have it included. Thanks for the suggestion. :)

[2013-03-04 05:06] vikasaditya commented on #50
@paddyforan

That would be great.
There is a great first to the market opportunity for a cloud mq service that works with CORS or JSONP with open writes & restricted reads

[2013-03-05 01:41] gkappel opened #54 "It appears that the cache put add option is being ignored"
[code]

[2013-03-05 03:22] paddycarver commented on #50
While I'm inclined to agree, it's a tricky problem. OAuth2 security in insecure environments (i.e., client-side) is a problem without a real solution, so far. We've been talking internally about more granular controls on token permissions, but we don't really have anything to announce at this time.

It seems like the ability you're asking for is dependent on those new controls and the CORS request

[2013-03-05 04:31] vikasaditya commented on #50
yes, CORS the way to go, s3 &  parse do it, which we have used, works great.
Thanks and will wait for your implementation.

On Tue, Mar 5, 2013 at 8:52 AM, Paddy Foran notifications@github.comwrote:

[2013-03-06 03:33] calebjclark opened #55 "cannot create a code package with the same name of one that was deleted"
If we delete a code package and then later try to add a code package with the same name, no package is created and an error message is returned:

HTTP 404 Error. {"msg":"Code not found. Previously deleted by user."}

We are having to delete code packages through the API to clear the error history since there is no way to do so in the interface or API. However, once we get this message, the only wa

[2013-03-06 05:05] carimura commented on #55
We'll look into this asap.... Thanks Caleb.

[2013-03-06 22:52] treeder commented on #55
Should have this fixed this week.

[2013-03-06 23:05] calebjclark commented on #55
Thanks. Will this just fix the bug that stopped code packages from being recreated, or will this allow us to delete old error counts for packages? The latter would be a huge help. Right now, once you get a few errors, it's very complicated to keep track of which tasks were rerun and successful vs. still needing our attention.

-Caleb

On Wednesday, March 6, 2013 at 5:52 PM, Travis Reeder wrote:

[2013-03-07 21:12] dbgrandi commented on #35
+1, this would be super helpful for my current situation.

[2013-03-07 21:54] treeder commented on #35
We'll be coming out with a new VM for our workers soon that should resolve this issue. Python makes it hard to override the installed libraries for some reason. We'll update this when it's ready.

[2013-03-08 03:37] ssr1ram opened #56 "iron_worker - Parse.com's javascript sdk works locally but not on server"
For some reason, when using the Parse.com javascript sdk in an iron_worker nodejs worker it works when run locally, but bombs when I attempt to run it after uploading to the server.

What this then forced me to do is to resort to Parse.com's REST api.

Here is the log

task/node_modules/parse/parse.min.js:1
ach(r.keys(e),fu
      ^
TypeError: Object.keys called on non-object
    at Function.keys (

[2013-03-08 13:55] dbgrandi commented on #35
Thanks, @treeder, I'll keep an eye out for updates.

[2013-03-09 15:38] calebjclark commented on #55
Do you have any status updates on estimated delivery?

[2013-03-10 15:51] calebjclark commented on #31
I'm having this issue as well. Is there any fix planned?

[2013-03-10 21:53] treeder commented on #55
Hi @calebclark , sorry for the delay. This will mean a completely new code package with no previous stats or history. I'm trying to get it out today.

[2013-03-10 23:24] calebjclark commented on #55
@treeder awesome!

[2013-03-11 15:44] treeder commented on #55
@calebclark can you give this a try now?

cc @m0use

[2013-03-11 16:54] calebjclark commented on #55
I just tried deleting a code package and recreating it. Works great!

Thanks so much!

Are there any plans to add the ability to remove failed tasks without deleting and recreating an entire code package?

[2013-03-11 17:04] calebjclark commented on #55
Uh oh. I responded too fast. Although the API does allow me to delete and then recreate a code package without throwing an error, it totally wacked out my HUD. Those deleted/recreated code packages no longer show up on my Tasks Lists, and my Code page now displays a "We're sorry, but something went wrong." page.

[2013-03-11 18:42] paddycarver commented on #56
@ssr1ram Would you mind posting the version of node.js you're running locally? My first instinct is to guess that there's a mismatch between the version you're running locally and the version on our server.

After that, I'll take a look through the module and see if I can figure out what's going wrong. A minimal code sample that demonstrates the issue would be awesome for debugging this.

[2013-03-11 18:49] ssr1ram commented on #56
Hi,

The local node version is v0.8.14 It could be a bit tricky getting a code
sample out since we went REST, but I'll look into it.

Sriram

On Mon, Mar 11, 2013 at 11:42 AM, Paddy Foran notifications@github.comwrote:

[2013-03-11 19:24] treeder commented on #55
Doh, we're fixing HUD right now...

[2013-03-12 00:00] treeder commented on #55
This should all be fixed now.

[2013-03-12 16:47] #18 closed, assigned to nobody

[2013-03-12 16:48] carimura commented on #15
Old issue.. can we close this?

[2013-03-12 16:49] #4 closed, assigned to rkononov

[2013-03-12 16:51] carimura commented on #2
time to revisit.

[2013-03-12 16:54] carimura commented on #39
Rewriting/reviewing all docs now... cc @featalion as well.

[2013-03-12 16:55] carimura commented on #26
@paddyforan did we ever resolve this?

[2013-03-12 17:19] carimura commented on #23
Should be fixed in next deploy...

[2013-03-12 17:27] ianlandsman opened #57 "[HUD] Improve MQ details"
The report for what's in the queue is pretty light right now. I think just a few more additions would make it super powerful. Primarily it'd be great to see the jobs in the queue. Is something stuck, is it taking a long time, etc.

I've attached an image of resque, something along those lines would be great.
![Screen 20Shot 202013-03-12 20at 2011 01 46 20AM](https://f.cloud.github.com/assets/53144

[2013-03-12 17:32] carimura commented on #57
Just to be clear - you are using IronMQ as a job queue and each message/job is then processed by your own workers?

[2013-03-12 17:36] ianlandsman commented on #57
Right, we're polling from our servers to pick things up off the queue. In other tools we've used there's been a bit more visibility into the specific jobs on the queue, that's really the core of what I think would be useful. We also use delayed jobs a bit and so being able to see those in there and know their state is useful.

It looks like we could potentially build our own with the API and peek,

[2013-03-12 17:42] carimura commented on #57
We've been thinking about this stuff.. we designed IronWorker as "workers as a service" which gives you all the standard job visibility, introspection, error reporting, etc, but your workers run on our servers. IronMQ is designed to be used for a variety of use cases, not just "jobs" so we can't _assume_ there's a status.

Are you using a job queue framework that we can look at (ie dj, resque, one

[2013-03-12 17:45] ianlandsman commented on #57
Hmm, perhaps I'm not being clear. When you're on this page:
https://hud.iron.io/mq/projects/XXXXX/queues/XX-name-XX

When Queue Size is > 0 it's be nice if you could click that number and see a list of all the items in the queue.

[2013-03-12 17:48] carimura commented on #57
OK.. thought you were referring to specific things like "status" of jobs. But ya, this is also something we're thinking about also.

Thanks for the request and feedback.

cc @thousandsofthem @treeder @edsrzf

[2013-03-12 17:51] ianlandsman commented on #57
Ah ok. Yeah, I mean more status info could be useful like if a message has been picked but not deleted yet and stuff, how many times it's been tried, etc. We haven't used you guys long enough to see what happens when things go wrong so that could all be useful when things do.

[2013-03-12 18:29] pax95 commented on #15
yeah - I have tested it against Rackspace.

[2013-03-12 18:29] #15 closed, assigned to nobody

[2013-03-12 18:43] carimura commented on #32
Hey @emp123 -- closing this up as it's 4 months old and we like to keep feature requests / bugs in here...

We are happy to continue helping you on this issue if you'd like.. jump into live chat: http://get.iron.io/chat or send an email to support [at] iron.io

[2013-03-12 18:43] #32 closed, assigned to nobody

[2013-03-12 18:43] #23 closed, assigned to nobody

[2013-03-12 19:25] treeder commented on #14
This isn't done is it?

[2013-03-12 21:36] adelevie commented on #28
+1

[2013-03-12 21:48] thousandsofthem commented on #28
@coreymaass @adelevie you already able to search by TaskID
https://hud.iron.io/dashboard -> enter TaskID -> wait for ~ 1 second -> see result.

![Iron io Cloud Application Services 2013-03-13 00-47-22](https://f.cloud.github.com/assets/736279/251189/85dc2bea-8b5e-11e2-8e05-72c5fffcb351.png)

[2013-03-12 22:21] treeder commented on #55
Hi @calebclark , all good now?

[2013-03-12 22:21] #55 closed, assigned to treeder

[2013-03-12 23:27] carimura commented on #14
That issue #114 doesn't resolve it? thought it was.... will keep open.

[2013-03-13 18:52] ssr1ram commented on #56
Just tried it and the Parse javascript calls seem to be working, no need to resort to REST.
I see that you are using node v0.8.8. It would help to know when you guys change the version etc.
In fact, it would be great if we could specify the node version in the .worker file
(if you guys were using something like https://github.com/creationix/nvm , the .worker file could simply do a 'nvm use vx.y.z'

[2013-03-13 20:19] treeder commented on #54
We're looking into this now.

[2013-03-13 22:32] paddycarver commented on #26
I'm not sure. I had a bunch of diagnostic information that I sent out over the summer, but it more or less just went away on my Node/Phantom workers.

[2013-03-14 00:19] jacobmarble opened #58 "Add long-poll timeout to the "get messages" API method"
The push queue design is awkward for subscribers using Heroku. Since the push queue subscriber needs a publicly visible endpoint, a "web dyno" is required, and that usually means that the queue publisher and subscriber must live in different projects.

I suggest adding a long-poll timeout parameter to the "get messages" API method. If the long-poll timeout is greater than zero, and the queue is cu

[2013-03-14 10:44] skaria opened #59 "Error in iron_mq_transport.py while trying to use ironMQ with celery in Heroku."
Currently we have a Python Django application hosted in Heroku cloud  that uses Celery workers for background processing.

Celery workers were using django DB as the broker. Recently we decided to use IronMq as the broker since it’s an enterprise solution. The packages we are using are

Python 2.7
Django 1.3
Celery 3.0.16
Django-celery 3.0.11
Iron-celery 0.3.1

We are using two workers. One worker

[2013-03-14 16:28] paddycarver commented on #59
I'm going to follow up on this through the email you sent to support, as that seems a more natural way to address this kind of issue.

Thanks :)

[2013-03-14 16:28] #59 closed, assigned to nobody

[2013-03-18 08:24] abelaska commented on #26
It does not seem to be a HUGE problem anymore. But it happens from time to time.

[2013-03-18 16:00] carimura commented on #26
Thanks guys... If it becomes a problem and keeps happening over time let's reopen this issue.

[2013-03-18 16:00] #26 closed, assigned to nobody

[2013-03-23 10:34] #56 closed, assigned to nobody

[2013-03-24 14:07] calebjclark opened #60 "Bug when reading webhook URLs?"
I'm running into an issue with webhook urls that is completely stopping me from getting webhooks up and running. It seems that IronWorker is only reading the first query param. For example, I get a "Token required for authentication" if I post the following with valid data:

curl -X POST -d "test=testing" https://worker-aws-us-east-1.iron.io/2/projects/PROJECT_ID/tasks/webhook?code_name=CODE_NAME&

[2013-03-24 14:49] calebjclark opened #61 "Managing IronWorker errors under high-volume seems incredibly difficult"
We're running into a feature gap with IronWorker that is causing us to rethink we should use it in production. We love so much about IronWorker that we're hoping someone can help us with a workaround. The problem is in the features IronWorker provides for managing errors.

When there's an error in IronWorker, you can see the stats and details in HUD as well as from the API, which is great. When th

[2013-03-24 16:40] thousandsofthem commented on #60
@calebclark just wrap url in quotes: `curl -X POST ....."http://...."`
It's terminal feature, not related to iron_worker API

[2013-03-24 16:52] calebjclark commented on #60
Ah... idiot me. Thank you for your fast response.

[2013-03-24 16:52] #60 closed, assigned to nobody

[2013-04-02 22:33] carimura commented on #61
Caleb sorry for the slow response -- we've actually been circulating this internally and it's inspired a set of conversations for how to improve this area. We'll reach out very soon for your thoughts.

Additionally -- you can feel confident that we'll have an answer that should satisfy your needs.

cc @treeder

[2013-04-05 01:21] iced commented on #35
iron_worker_ng 0.16.0 should solve this issue. requirements.txt will be available in 0.16.1 (tomorrow maybe).

[2013-04-05 01:21] #35 closed, assigned to nobody

[2013-04-05 04:11] iced commented on #35
actually grab 0.16.2 (thanks to pip maintainers & apple), requirements postponed to 0.16.3.

[2013-04-10 16:15] taylorotwell opened #62 "IronMQ attempt / reserve count..."
Is it at all possible for us to retrieve the number of times a given message has bene received / reserved? I know Beanstalkd has this available. Is it possible for you guys to expose this through your APIs?

This would be handy to have for the Laravel 4 framework integration!

[2013-04-10 16:49] featalion commented on #62
As I know it's not available operation. But I assume it will not be very complicated to add the feature and send with a message as metadata like:

[code]

Not sure it does make sense, @treeder thoughts?

[2013-04-11 02:05] rjstanford opened #63 "API Feature Request: Lossless Replace"
The goal is to be able to use IronCache as the "system of record" for frequently requested items that are infrequently updated - without the need to save things in the DB on the way.  In order for this to work, however, we need to be able to protect against the rare case of two people "saving" data on top of each other.

One way to protect against this would be to offer an option to get a version

[2013-04-11 02:32] rjstanford commented on #63
Update - I understand from chatting with Evan that cas-over-memcached is supported.  If that's the preferred implementation it would be good to know what the limits are - I'm assuming that there's a timeout even on an active connection and you're not storing item state indefinitely just in case a cas request is issued.  Also, as an aside, when I said 'version' above a checksum or similar would be

[2013-04-11 19:49] treeder commented on #63
Hi @rjstanford ,

The cas docs have been updated: http://dev.iron.io/cache/reference/api/#put_an_item_into_a_cache

Let us know if that'll work for you.

cc @edsrzf

[2013-04-11 20:06] calebjclark opened #64 "Worker count for a code package?"
We are following Iron's suggestion of pushing high volume tasks to a queue on IronMQ and then firing up Workers to process those messages. However, there is no way to easily see how many workers are running or queued for a specific code package. The only way we could find is to request all tasks and loop through them to count how many tasks contain the  code_id we're looking for.

This doesn't see

[2013-04-11 20:21] treeder commented on #64
Hi @calebclark , we will soon have a feature made just for this (scaling workers based on queue sizes), but for now, would a scheduled worker do the trick?  Like schedule a worker every minute and have it run until the queue is empty. If the queue grows, you may get more than one running at once (if the first one doesn't finish within a minute), which is good though as it will go through the queue

[2013-04-11 20:31] calebjclark commented on #64
No. Our volume is going to be very uneven. We'll likely have long stretches of time with no tasks and then suddenly have a need to fire up 10 or 20 workers to handle the volume. Having a scheduled worker would do little for us during the stretches of no work and underperform during the heavy volume.

[2013-04-11 21:16] treeder commented on #64
How about a master/slave pattern (very common). The scheduled worker, the master, starts every minute, checks queue info endpoint to get queue size, then spawn up any number of slave workers. If small number, just queue up one slave, if large, queue up a bunch.

[2013-04-11 22:00] calebjclark commented on #64
It seems that under sustained volume, if the master executes the logic you describe, with no knowledge of how many slaves are already running, then it potentially becomes only a matter of time before the ratio becomes 1 worker to 1 message.

[2013-04-11 22:17] carimura commented on #64
IronCache simple slave counter?

[2013-04-11 22:40] treeder commented on #64
I don't think it would ever get to 1 worker for 1 message unless you had some bad scheme for doing this. I don't know your use case, but simple example:

Let's say you spawn one worker for every 100 messages in queue. Then:

[code]

And so on, and so on.

[2013-04-11 23:44] featalion commented on #64
+1 to last Travis' solution. Note: use loop with "while queue is not empty" condition for your slaves, not N messages for queue and exit. But spawn slaves by number of messages per worker as Travis recommended. This way provide automatic scaling on worker side. Number of messages per worker (or number slaves launch) is depend on your processing time of each message. If it is really heavy tasks - y

[2013-04-12 00:20] featalion commented on #64
Concurrency calculation example:
- Assume queue avg. spike level is 3000 msgs/s
- Assume one worker can process 10 msgs/s
- Assume your master worker scheduled run each minute (60 s)
- Assume safety factor for concurrency is 0.15 (15%)

Then peak:

[code]

N messages per worker:

[code]

Of course you can extend you master worker with more complex prediction. IronCache will be pretty good to store

[2013-04-16 05:35] RPM1984 opened #65 "Can't execute .NET 4.5 IronWorker"
I'm attempting to deploy a .NET 4.5 console application to IronWorker, but receiving the following error:

Unhandled Exception: System.TypeLoadException: Could not load type 'System.Runtime.CompilerServices.ExtensionAttribute'

[2013-04-16 22:47] edsrzf commented on #54
This ended up being harder to fix than expected, but it should finally be working.

[2013-04-16 22:47] #54 closed, assigned to edsrzf

[2013-04-17 07:12] RPM1984 commented on #65
guys any ideas? i need to know asap if this is solve-able, otherwise ill have to go for an alternative to IronWorker...

[2013-04-17 21:35] btaylor opened #66 "API: Can't filter tasks by queued/errored"
According to the [docs](http://dev.iron.io/worker/reference/api/#list_tasks), the projects/tasks endpoint should be filterable by status. Unfortunately, not all of the status filters work:

WORKING:

https://worker-aws-us-east-1.iron.io/2/projects/51100646d429792e99001a86/tasks
{ "tasks": [ { "status": "complete", "code_name": "process_data::builder",...

https://worker-aws-us-east-1.iron.io/2/pro

[2013-04-17 21:51] treeder commented on #66
We'll be fixing this very soon and will update when done.

[2013-04-17 22:58] btaylor commented on #66
To add to this, what I'd really love would be an API that I can just get the count of tasks in various statuses.  Even when this is working, I can only see up to 100 tasks, so I won't really know the real number of queued/errored/etc jobs.

[2013-04-18 06:11] steveyken opened #67 "Push queue not accepting 201 response"
Reading http://dev.iron.io/mq/reference/push_queues/#how_the_endpoint_should_handle_push_messages

I can see that returning a 200 or 202 response when consuming a push queue indicates success. Is there any reason why a 201 wouldn't also be acceptable? (I've tried and a 201 is treated like a 4XX or 5XX.)

Other than that IronMQ is totally awesome. It's going to revolutionise our system integrations

[2013-04-19 16:10] calebjclark opened #68 "404 error: Log not found"
About 30 minutes ago we started getting 404 errors when uploading a new code package with iron_worker_ng. Error and stacktrace:

HTTP 404 Error. {"msg":"Log not found."}
/Users/calebclark/.rbenv/versions/1.9.3-p194/gemsets/addons-by-mlabs/gems/rest-2.6.0/lib/rest/wrappers/typhoeus_wrapper.rb:66:in `handle_response'
/Users/calebclark/.rbenv/versions/1.9.3-p194/gemsets/addons-by-mlabs/gems/rest-2.6.

[2013-04-19 16:43] treeder commented on #68
Hi @calebclark , what log are you trying to get while uploading?  There are only logs for tasks/jobs.

Or if you are trying to get it on tasks, sometimes the log's take a second or two to be available after it's finished. Are you trying to get the log immediately after a job completes (or while it's running)?

[2013-04-19 17:40] calebjclark commented on #68
I'm not trying to request any logs. I'm just using IronWorkerNG::Client to create a new code package (codes.create).

-Caleb

[2013-04-19 17:42] calebjclark commented on #68
@treeder, our exact same uploading code was working yesterday. It stopped working at some point today.

[2013-04-19 17:50] calebjclark commented on #68
It looks like the build is erroring out. When I log into HUD I see that there are build errors, however, the log is empty. I think that may be what is causing the issue in the iron_worker_ng gem.

[2013-04-19 18:02] calebjclark commented on #68
@treeder, I'm getting the the same "Log not found" error when I use iron_worker from the command line:

[code]

[2013-04-19 18:15] calebjclark commented on #68
@treeder It's only throwing the error when "full_remote_build true" is included in the worker file.

[2013-04-19 18:44] calebjclark commented on #68
Any chance this can be fixed before the weekend? It's put a freeze on most of our work since the majority of our workers use full_remote_build.

[2013-04-19 19:25] treeder commented on #68
Looking into it.

[2013-04-19 19:25] calebjclark commented on #68
@treeder, I discovered the problem. Our account was maxed out, and instead of telling us we need to upgrade our account (which we would have happily done), iron_worker is throwing the "Log not found".

Once we upgraded, the cryptic error message went away.

[2013-04-19 21:22] SecurityForUs opened #69 "Unable to use IronMQ in project, yet works in testing project"
[code]

Above is the code I use in my project (lots of it snipped as its not relevant.  This gives the following traceback:  https://gist.github.com/anonymous/238d1787173737f8b428

I also tried setting BROKER_URL to just "ironmq://" and put iron.json in ~, and get this along with the previous traceback:  https://gist.github.com/anonymous/c143a70d22aaa7e36326

However, the same info works when used

[2013-04-19 21:40] treeder commented on #68
Ahh, thanks for figuring it out. I reopened this so we can show a more appropriate error for this case.

[2013-04-23 20:15] ghost commented on #65
Hey, sorry for the delay.

Until we'll have mono3 installed, we have got workaround for you. We have prepared mono-3.0.7 build + patch from https://github.com/mono/mono/commit/8c2389d8d0baf038ab2c75d488d41c6a6ec89d45 which fixes `CreateDelegate` call in .NET 4.5 assebmlies. So, .NET 4.5 apps should work fine now. Just use custom build command in your .worker file:

[code]

[2013-04-23 23:57] RPM1984 commented on #65
that works, thanks. can you keep this issue open and close once mono3 has been installed.

thanks

[2013-04-24 04:34] treeder commented on #67
Hi @steveyken , it should accept 201 as you said and the fix is in. Next push to production (this week) will accept any 20X response.

[2013-04-24 05:40] RPM1984 commented on #65
Now getting this error:
System.TypeLoadException: Could not load type 'System.Data.Entity.Internal.LazyInternalConnection' from assembly 'EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'

I'm guessing it's related to this issue:
http://lists.ximian.com/pipermail/mono-list/2012-November/049147.html

Any ideas? I'm not sure which solution to follow...

[2013-04-24 09:26] steveyken commented on #67
Excellent news. thank you!

[2013-04-24 09:26] #67 closed, assigned to treeder

[2013-04-25 22:57] treeder commented on #66
This should be fixed now. Also, you can search with code_name now too so you don't get all tasks for all your workers.

[2013-04-29 10:33] espeed opened #70 "Installing a Python module from GitHub appears to work, but doesn't...."
The task log says it builds, but the Python firebase module doesn't get stored in pips...

[code]
## Here's the builder's task log...

Successfully installed mime-types-1.23
Successfully installed rest-client-1.6.7
Successfully installed rest-2.6.0
Successfully installed iron_core-0.6.1
Successfully installed bundler-1.3.5
Successfully installed rubyzip-0.9.9
Successfully installed iron_worker_ng-

[2013-04-29 21:25] iced commented on #70
looking at this.

[2013-04-29 22:33] iced commented on #70
pip ignores --root for git packages. submit bug to pip devs, when it's fixed, we'll be able to reset stable pip version used to install packages (using 1.3.1 now).

[2013-04-30 03:57] espeed commented on #70
What pip install commands are you currently using...example?

Would adding something like `--install-option="--prefix=`pwd`/pips"` work?

[2013-04-30 04:12] espeed commented on #70
NVM -- the trick is to simply not use editable mode...

[code]

See...
- http://www.pip-installer.org/en/latest/logic.html#editable-installs
- http://guide.python-distribute.org/pip.html#installing-from-a-vcs
- https://devcenter.heroku.com/articles/python-pip

[2013-04-30 04:12] #70 closed, assigned to nobody

[2013-05-01 23:00] treeder opened #71 "Rate limiting on push queues"
Ability to set the rate at which messages are delivered.

[2013-05-08 23:50] drmaples opened #72 "successful /projects/{Project ID}/codes [POST] doesnt always create a new revision"
It seems when uploading a new code package containing a zipfile with the same checksum as the last revision that a new revision will not be created. Tweaking something so the checksum is different and uploading again will create a new revision.

This behavior seems ok, but it is a little misleading that the response is always http 200 and {"msg": "Upload successful.", "id": "...."} even though a n

[2013-05-09 06:46] carimura commented on #72
In my experience the CLI creates a new revision every time - but that's probably because while packaging the files the checksum changes.

Sounds like you are programmatically uploading the code package so that might be the case.

To me your feedback on API response is valid and we should indicate when revision isn't updated (especially since concurrency/timeout/etc settings might be intentionally

[2013-05-09 21:59] treeder commented on #72
@drmaples I see what's going on now and you are correct, it won't accept new code with the same checksum. You're right that the response should be different, thanks for letting us know.

[2013-05-20 20:04] treeder commented on #62
Wow, sorry for such a slow reply, missed this one. Makes sense to me though, will update here when we do it

[2013-05-22 19:52] brandonhamric opened #73 "Different error state for ironworker errors caused outside of customer code"
when ironMQ returns a http 500 or really any thing fails before the worker specific code is called, could you consider adding a different state than "error" for those errors? I'de really like a separation of errors in my code and errors in the stuff that makes the worker run. I can infer it by seeing that the log is empty, but an explicit state for that would be really helpful

Right now I print o

[2013-05-22 19:56] carimura commented on #73
+1

[2013-05-22 23:59] brandonhamric opened #74 "feature request: ironworker webhook callbacks"
I like how I get an email when a worker fails, but it would be awesome if I had direct control of what happens when a worker finishes.

Right now my options are to launch an ec2 instance and monitor the ironworker api for task updates, timeout and wait on the process that queues the tasks, or only catch task enqueue calls that successfully make it into my worker code.

Most of these get messy if I

[2013-05-23 18:42] carimura commented on #74
Releasing some pretty big infrastructure improvements and features over the next 1-2 weeks and then we'll come back to this.... cc @treeder @iced @edsrzf

[2013-05-24 16:46] brandonhamric opened #75 "feature request: ironworker hud rerun usability"
Some requests to improve the usability of rerunning tasks that failed
1. Make "rerun" an ajax call. Right now it refreshes the page and I lose my place
2. Bulk rerun button. It would especially be useful to rerun only tasks that failed because of ironworker infrastructure errors
3. Show errored out tasks that have subsequently successfully ran. You do something similar with retried tasks, but seei

[2013-05-24 17:22] thousandsofthem commented on #75
hey @brandonhamric
1. Yeah, good idea.
2. Probably useful thing. Need to think more about button behavior.
3. Did you mean 'rerun' tasks?

[2013-05-24 19:02] brandonhamric commented on #75
Here's what I mean for 3. I like that the retries are tied to the auto retries are shown on the hud, but when one finishes say on the 3rd time it would be cool to see the completed task in the dropdown. My example below would be similar, but the user clicked "rerun" on the hud for the failed task. I think since they explicitly click "rerun" on the task, it should show the successful run in the dro

[2013-05-24 19:21] thousandsofthem commented on #75
Great! :+1: i'm on it

[2013-06-04 22:33] bazo commented on #46
hi,

i'm trying to setup incoming mail processing via mandrill, so it sends messages directly to ironMq. mandrill sends a head request to the webhook url to verify it's existence, but ironmq doesn't respond with code 200 so i have to route the messages via my application, which i would like to avoid

[2013-06-09 23:17] treeder commented on #46
@bazo interesting. So a HEAD request to the message POST url should return a 200?

[2013-06-10 07:53] bazo commented on #46
well yes, why not?

[2013-06-10 08:32] edsrzf commented on #46
I'm not opposed to implementing HEAD in general, but I'm not too sure having the webhook URL return 200 on a HEAD request makes sense. HEAD is supposed to be identical to GET, except without the response body. Since GET is an invalid method on the webhook URL, HEAD should be too.

Mandrill sounds broken in this regard unless I'm misunderstanding. Sending a HEAD request to verify that a URL respond

[2013-06-10 08:37] bazo commented on #46
well the webhook url looks like this http://mq-aws-us-east-1.iron.io/1/projects/xxx/queues/my_queue/messages this url already accepts POST and GET requests. so GET is not invalid. HEAD is used to check if given resource even exists. nobody said about sending HEAD to verify that it accepts POST, only to verify that it exists.

so in my opinion it makes sense very much. it also works on many other r

[2013-06-10 08:42] edsrzf commented on #46
Ah, yes, that makes sense.

I thought you were talking about the queues/my_queue/messages/webhook endpoint, which only accepts post.

[2013-06-10 08:51] bazo commented on #46
actually i was. my mistake with the url. but my point still stands. head is not the same as get

[2013-06-10 09:09] edsrzf commented on #46
From RFC 2616, which defines HTTP 1.1: "The HEAD method is identical to GET except that the server MUST NOT return a message-body in the response." HEAD is not used to check that a resource exists, but can be used to check that a resource responds to GET. If the webhook URL starts responding to HEAD, then it also needs to start responding to GET in some way.

Again, I'm not saying that we'd never

[2013-06-10 09:11] bazo commented on #46
from the same rfc: This method is often used for testing hypertext links for validity, accessibility, and recent modification.

[2013-06-10 09:12] edsrzf commented on #46
Right, and hyperlinks are always GET requests.

[2013-06-10 09:15] bazo commented on #46
so hyperlink is a request now? i thought it's just a resource description

[2013-06-10 09:32] edsrzf commented on #46
Alright, to be perfectly correct, my response should have been "hyperlinks always _cause_ GET requests".

[2013-06-10 09:40] bazo commented on #46
only if you make it a GET request. but whatever, i can clearly see you don't want to make life easier for your users, you just like to argue...

i see no reason why the webhook couldn't respond to head or even get, printing out a description or whatever

[2013-06-10 10:59] edsrzf commented on #46
I don't like to argue, but I do like to explain why a request might not be fulfilled. And I do want to make life easier for our users, which is why I'd consider allowing HEAD on the webhook URL even though I think it's wrong.

This issue overall will be resolved with the next code rollout for each service. (Somebody will update this issue again once that actually happens.) Any URL that responds to

[2013-06-14 15:11] kakumanu opened #76 "iron-mq python client library not working when the request was posted to queue that is configured in the Rackspace."
Hello,

Python client library is working when it is pointed to AWS host: ("host":"mq-aws-us-east-1.iron.io")

But not working when it was pointed to RS host: ("host":"mq-rackspace-dfw.iron.io")

[2013-06-24 04:53] philipri opened #77 "Mono Environment Requires mozroots"
Currently the Iron Worker mono environment does not have mozroots configured.

See: http://www.mono-project.com/FAQ:_Security

Repro:
1. Build an Iron Worker which executes:
using(WebClient client = new WebClient())
{
    string result = client.DownloadString("https://www.google.com");
    Console.WriteLine(result);
}
2. See the TLS error which results.
3. Repro this with http://www.google.com as

[2013-06-24 06:28] carimura commented on #77
Thanks for this ticket @philipri  ..  cc @iced @treeder @rkononov

[2013-06-25 02:15] carimura commented on #76
OK got your email as well: cc @iced @paddyforan @treeder @rkononov

[2013-06-25 03:05] carimura commented on #76
@kakumanu Any chance you can test this with Python 2.7.3 or later as a sanity check? That way we can isolate the issue and try and resolve it for 2.6 (the version you are on)

[2013-06-25 15:23] kakumanu commented on #76
Hi Carimura,

Unfortunately I do not have Python2.7.3 or later installed in my home computer or on the RS node. So I just tested with Python2.7.2 and confirmed that same error is getting with it too

admininstrators-MacBook-Pro:~$ python2.7
Python 2.7.2 (v2.7.2:8527427914a2, Jun 11 2011, 15:22:34)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)] on darwin
Type "help", "copyright", "credits" or "license

[2013-06-25 18:50] carimura commented on #76
@iced @kakumanu OK looks like I have also reproduced the issue from my local machine that is running 2.7.1 ... Let me see what I can do from here.

[code]

[2013-06-25 19:02] carimura commented on #76
I'll test 2.7.3 on local box --- stand by - give me 2 hours or so

[2013-07-09 22:17] carimura commented on #76
OK I've finally confirmed that this is an issue with both Python 2.7.1 and 2.7.2 but NOT 2.7.3.

We have two options:

1) Upgrade your Python version to 2.7.3 -- is this possible?
2) We can try and dig in to see what the Cloud Load Balancers problem is with 2.7.2

@kakumanu thoughts?

[2013-07-09 22:33] carimura commented on #76
@kakumanu are you getting the SSL error on non MacOS machines such as your RS node? If so, which version of Python?

[2013-07-09 23:40] carimura commented on #76
@kakumanu I take all that back.... try it now with this endpoint (ORD)

ironmq = IronMQ(
  host='mq-rackspace-ord.iron.io',
  protocol='https',
  port=443)

[2013-07-17 21:21] jszobody opened #78 "Feature request: bump up priority of queued tasks in HUD"
Today IW was under heavy load, queues were building up with backlog.

Your status page says "Users can increase the priority to 1 or 2 to decrease time in queue." Awesome! Except... the HUD doesn't let me modify the priority of queued tasks.

Please add the ability in HUD to select queued tasks and modify the priority. Thanks!

[2013-07-17 22:02] carimura commented on #76
@kakamanu - you might not have the right certificate installed on your RS node. Can you try the following links? A quick search (http://goo.gl/MegEH) brought up some solutions:

http://stackoverflow.com/questions/13321302/python-foursquare-ssl3-certificate-verify-failed
http://stackoverflow.com/questions/7497213/python-client-ssl-lib-certificate-verify-failed

Can you let us know?

Thanks.

[2013-07-19 08:16] luttkens opened #79 "Editing a schedule task adds it to queue instantly"
If I edit an existing scheduled job to be excuted every day, starting 2 hrs from now it will be added to the queue anyway - and executed.

[2013-07-19 17:55] treeder commented on #79
Are you editing the schedule in HUD or via the API?

[2013-07-19 18:11] luttkens commented on #79
I am editing through the HUD.

On Fri, Jul 19, 2013 at 7:55 PM, Travis Reeder notifications@github.comwrote:

##

Magnus Lüttkens
+46 (0) 732 511 581

[2013-07-19 18:22] treeder commented on #79
cc @thousandsofthem

[2013-07-19 22:54] thousandsofthem commented on #79
It works straightly via API

[2013-07-25 20:11] uberbrady opened #80 "Rollback Button for iron_worker"
Sometimes when things are busted, it's hard to figure out what changed and when and why and how it affected things - the smart move can be to just rollback to the last known good version, and then take your time to sort stuff out.

That's what I just did, but I had to go into chat to figure out how to do it. It'd be great if you guys had a nice big 'rollback to this version' button (Heroku has som

[2013-08-02 21:35] treeder commented on #80
@uberbrady thanks for the feedback, it's a good idea. We're working on it and will let you know when it's ready.

[2013-08-05 03:21] philipri opened #81 "Upgrade Mono to 3.2"
Currently IronWorker is running Mono 2.10.8.1. Would it be possible to have the environment upgraded to Mono 3.2.

Version 2.10 is no longer supported as per: http://www.mono-project.com/Release_Notes_Mono_3.2

[2013-08-05 08:36] thousandsofthem commented on #81
Until appropriate person answer this, proposing way of bundling custom mono version via deb files.
Link to example: https://github.com/thousandsofthem/workers/tree/master/mono-3.0.6

[2013-08-06 01:39] rajatIIT opened #82 "Issue while building jython-for-android"
While trying to build jython-for-android, the app force closes on a live device (Nexus S) and following exception is reported  (I changed the build target from 8 to 14) :

06:49:30.109    18570   org.jython_on_android   ERROR   AndroidRuntime  java.lang.NullPointerException
06:49:30.109    18570   org.jython_on_android   ERROR   AndroidRuntime      at org.python.core.Py.dispatchToChecker(Py.java:2

[2013-08-06 03:15] treeder commented on #82
Is this related to Iron.io services?

[2013-08-06 09:17] rajatIIT commented on #82
No. I am new to github. Sorry.

[2013-08-06 09:17] #82 closed, assigned to nobody

[2013-09-15 14:23] xmxmichael opened #83 "function postTask() in IronWorker doesn't exist in python library"
the documentation here:
http://www.iron.io/worker
(under the "Queue workers" section)
says that in order to start a task, one should call the postTask() method.

After searching the code, there's no postTask() method.

The exception I'm getting from python is:
AttributeError: IronWorker instance has no attribute 'postTask

[2013-09-19 21:35] petethered commented on #29
Same issue... would love to see a delete on get option.

A large amount of my async tasks don't need guaranteed completion.

[2013-10-02 10:58] chmac opened #84 "Feature request: Visibility into delay"
I post a job to a queue like:

[code]

I store the returned id and then retrieve it like:

[code]

I get back something like:

[code]

There's no way for me to see that there is a delay on this item or what that delay is. It'd be nice to have something like "embargoed until utc timestamp", or the posted time and the delay parameter.

[2013-10-12 16:43] daxfohl opened #85 "--config param doesn't seem to have an effect in "iron_worker run""
This is under Windows 8 x64, ruby 2.0.0p247 (2013-06-27) [x64-mingw32].  So I have to upload my workers every time to test out with config settings.

[2013-10-12 20:20] thousandsofthem commented on #85
did you try `--worker-config` ?

[2013-10-12 20:47] daxfohl commented on #85
That just gives me "invalid option: --worker-config".

On Sat, Oct 12, 2013 at 4:20 PM, Alexander Shapiotko <
notifications@github.com> wrote:

[2013-10-13 18:31] treeder commented on #85
hi @daxfohl , what is the full command you are using with --worker-config?  --worker-config is for the upload command, not for run.

[2013-10-13 21:53] daxfohl commented on #85
@treeder I'm not using `--worker-config`; that was just the suggestion by thousandsofthem.  I'm trying `run` with `--config`, but it has no effect.  Here's what happens when I modify my worker to do nothing but print out the args.  Below I run it once with `--config` and once without.  As you can see, the `--config` has no effect:

<pre>
C:\Users\Dax\smilestuff\worker\target>iron_worker run sendmm

[2013-10-24 03:44] titos1 opened #86 "Please implement peekMessages() and clear() for push queues"
It would be really useful if I could `peekMessages()` on Push Queues, the messages of which are posted with the delay param set to some (high) number of seconds. I would like to be able to do that knowing just the queue name, not any message IDs.

Also, I would like to be able to `clear()` a Push Queue, again just knowing its name, so no messages (with the delay param set) are delivered to the sub

[2013-11-15 16:21] daxfohl opened #87 "The `--worker-config` option is not documented anywhere but a blog post and stackoverflow."
`iron_worker upload --help` does not show the `--worker-config` option, nor does the documentation here:  http://dev.iron.io/worker/reference/configuration/

[2013-11-15 16:29] #66 closed, assigned to nobody

[2013-11-15 16:31] treeder commented on #86
Thanks for the request, we'll look into this soon.

[2013-11-15 16:31] treeder commented on #84
Thanks for the request, we'll look into this soon.

[2013-11-15 20:20] thousandsofthem commented on #75
implemented

[2013-11-15 20:20] #75 closed, assigned to thousandsofthem

[2013-12-14 17:59] rankpop opened #88 "Feature Request: IronCache Delete Trigger"
It would be helpful if when caches are deleted a trigger to a webhook or similar could be initiated.

[2013-12-15 18:38] eappleby opened #89 "Iron_Cache (Iron_Core, 1.0.2 update): Error when retrieving object for key that doesn't exist"
I created simple test script that reproduces error:

Here is error message:
/app/vendor/bundle/ruby/1.9.1/gems/iron_core-1.0.2/lib/iron_core/client.rb:195:in `extract_error_msg', undefined method`msg=' for #Rest::Wrappers::RestClientExceptionWrapper:0x000000030ad040

Gemfile
source 'https://rubygems.org'
ruby '1.9.3'
gem 'sinatra', '1.1.0'
gem 'iron_core', '1.0.2'
gem 'iron_cache, '1.4.0'

Test Sc

[2013-12-17 00:55] treeder opened #90 "Custom headers for push queues (including Content-Type)"
Set when queue is first updated to turn it into a push queue.

[2013-12-17 01:44] treeder commented on #89
I think I know this one, checking it now.

[2013-12-18 19:56] treeder commented on #89
Please update your rest gem to 2.6.5, fixes the bug. Sorry about that.

[2013-12-18 20:41] sturner opened #91 "Support Content-Type on messages"
Provide a field to indicate the content type of the message.  We all use text of course, but we use different formats such as xml, json, html.  This content type would, of course, be available when pulling the message, but would also simply be sent across as standard HTTP header Content-Type for push queues.

[2013-12-18 22:38] treeder commented on #91
This is in progress.

[2013-12-20 18:52] treeder commented on #91
Same as #90 , closing this one.

[2013-12-20 18:52] #91 closed, assigned to treeder

[2013-12-23 23:02] #89 closed, assigned to nobody

[2013-12-25 15:20] elgris opened #92 "[HUD]Feature request: code editor for uploaded jobs"
Hello and thanks for iron.io.
In HUD there is a nice way to create new job, write code for it and then run it.
Is there any plan to implement code editor for uploaded jobs?

[2013-12-26 01:51] carimura commented on #92
Hey @elgris not currently no. But we'll look into integration with Github and cloud IDE's like Codeenvy.

[2013-12-26 03:54] sidazhang commented on #92
@elgris, I do really like the idea though. It would be perfect especially for smaller changes. Cos, often you just want to change like one line.

[2013-12-31 16:43] artraxus opened #93 "SSL Error with NodeJs remote build and npm install"
Hello and thanks for iron.io.

When I use the build command "npm install" in my .worker file to package dependencies remotely through uploaded package.json.
I get this error:

<pre>
npm http GET https://registry.npmjs.org/ftp
npm http GET https://registry.npmjs.org/ftp
npm http GET https://registry.npmjs.org/ftp
npm ERR! Error: SSL Error: CERT_UNTRUSTED
npm ERR!     at ClientRequest.<anonymous> (/

[2014-01-09 21:44] jamespeerless commented on #93
I'm having the exact same issue.  Completely blocking my team.

[2014-01-09 21:51] Stephenitis commented on #93
There is a temporary fix for this

add the following to your .worker file.
build "npm config set strict-ssl false; npm install --production"

alternatively you can add the modules directory and the package.json and upload the modules locally instead of building remotely

[2014-02-03 10:21] rsensan opened #94 "API request count doubt"
Hi,

I have integrated iron.io with Laravel framework project for delayed jobs.
It working fine.

On Feb 01'st I have sent 24 message to queue, in the https://hud.iron.io/mq/aws/projects/52ea631ee7791d000900001d/usage it displaying as
message: 0
API request: 19,480

But when you see https://hud.iron.io/mq/aws/projects/52ea631ee7791d000900001d/queues here it show 24 messages

Can you explain why me

[2014-02-03 17:21] carimura commented on #94
Hey @rsensan -- best to send your request to support@iron.io. This channel isn't monitored as much.

The usage actually doesn't count messages from push queues. That might be confusing and we'll be changing that soon. So the request count and "messages all time" is the best place to get this data.

[2014-02-03 17:21] #94 closed, assigned to nobody

[2014-02-05 13:55] devth opened #95 "Raw markdown appearing in docs"
Examples:

http://dev.iron.io/worker/languages/python/
http://dev.iron.io/worker/languages/java/#deep_dive

I'm seeing raw headlines (`###`) and links (`[hud.iron.io](https://hud.iron.io)`).

[2014-02-05 15:14] carimura commented on #95
Thanks confirmed. We will fix this today. Cc @Stephenitis @ysadka

[2014-02-10 16:04] andrewryno commented on #62
Any update on this? I'm going to have to start implementing my own attempt counting via some other route since we have jobs that time out and need to be deleted after X tries and handled differently.

[2014-02-10 16:45] andrewryno commented on #62
Actually, looking at the API it looks as if reserve_count is there, which I assume is the one needed for attempt counting (since peeks aren't actual attempts).

[2014-02-10 17:03] treeder commented on #62
Ya, this has been implemented and is returned as "reserved_count" when getting a message.

[2014-02-10 17:03] #62 closed, assigned to nobody

[2014-02-12 21:27] NathanHazout opened #96 "Error while running iron_worker -v"
I've installed the CLI on OSX running
gem install iron_worker_ng

Then I ran iron_worker -v and got:
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/rubygems/custom_require.rb:31:in `gem_original_require': no such file to load -- json (LoadError)
    from /System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/rubygems/custom_require.rb:31:in`require'
    fr

[2014-02-12 21:50] ysadka commented on #96
To run the gem on Ruby 1.8 you must install the json gem as well.

[code]

Iron ruby docs:  http://dev.iron.io/worker/languages/ruby/
Iron pub chat: http://get.iron.io/chat

[2014-02-12 21:50] #96 closed, assigned to nobody

[2014-02-12 21:52] ysadka commented on #95
@devth thanks!

[2014-02-12 21:52] #95 closed, assigned to nobody

[2014-02-13 08:06] NathanHazout commented on #96
The funny thing is I am running Ruby 2.1, using rbenv ... don't know why it is looking for 1.8

[2014-03-24 02:44] travischoma commented on #50
I see that the implementation has arrived this month: http://blog.iron.io/2014/03/ironio-enhances-web-and-mobile.html. Was there something done to address the security implications? The code example in the blog post seems to use the token client side?

[2014-03-24 13:56] joeshaw commented on #58
:+1: on the long polling.  Oftentimes your queue consumers are not HTTP servers that can be pushed to, and sleeping to get new items adds an annoying, unnecessary delay.

[2014-03-24 15:15] treeder commented on #58
Hey guys, can you vote for this feature here: https://trello.com/c/aeu6n5za/2-ironmq-long-polling

[2014-03-30 16:44] philipri opened #97 "How is your Mono Upgrade coming along?"
Not having the latest version is a real pain.

[2014-03-30 21:42] carimura commented on #97
@philipri Have you tried the Mono stack?

http://blog.iron.io/2014/03/ironio-launches-custom-runtime.html

[2014-03-30 22:10] philipri commented on #97
Oh Awesome! The old Iron Worker docs still say Mono 2.0.

I'll give the new custom stacks ago.

[2014-03-30 22:10] #97 closed, assigned to nobody

[2014-04-19 15:05] mwarkentin commented on #74
Any progress on this? Would love to be able to send messages to Slack about tasks.

[2014-05-23 03:46] mathieucarbou opened #98 "Java 8 support"
This is quiet a blocker for us... We are heavily using Java 8 and cannot easily move to Iron.io because of that. We would need to set:

[code]

For the moment, I've just successfuly tested this workaround:

**worker file:**

[code]

**bootstrap.sh**

[code]

But this situation is not ideal since the Java 8 JRE is big and jobs take time to execute...

[2014-05-27 01:23] kwent opened #99 "merge_gem 'neography' break bundle with iron worker"
I'm trying to deploy a Iron worker (cf https://iron.io) with few gems. When i'm adding neography and trying to deploy the worker, initialisation is crashing. I don't know if it's an issue neography side or iron side (I opened a ticket neography side too cf. https://github.com/maxdemarzi/neography/issues/175).

Already tried the `gem 'zip-zip'` and read these topics

https://github.com/rubyzip/ruby

[2014-07-16 07:11] jayfresh opened #100 "Please document default node and npm version"
Hi,

I've just resolved some problems I was having getting `npm install` to build my package dependencies. It turns out that the default version of npm that ironworker uses (1.1.59) can't cope with some types of dependency specification e.g. `x.x.x^`. I've solved the problem by specifying `stack node-0.10` in my worker file, but I think it would have been really helpful to have known in advance th

[2014-07-16 13:35] KobaKhit opened #101 "Cannot find src with path.. error when trying to upload worker"
I downloaded a worker that my coworker created on his laptop. So the first thing, I have a different environment(we both are using macs os x, though). I ran it successfully in terminal and now I am trying to upload it to ironWorker with the changes I made. I tried to make my environment look like my coworker's. However, I get an error. Below is the output. The problem is the "cannot find src with.

[2014-07-16 20:32] #101 closed, assigned to nobody

[2014-07-17 06:14] rkononov commented on #100
Hey @jayfresh system environment description is here - http://dev.iron.io/worker/reference/environment/ , by default you're using 'default' stack with obsolete packages, unfortunately we can't migrate users to newer packages because we could break things, so we're forcing new users to use 'stack' parameter in .worker and select proper environment.

[2014-07-17 09:24] jayfresh commented on #100
Hey, thanks for the response! That page says that the default node stack is node-0.10, but the default is node v0.8.8.

[2014-07-17 09:28] rkononov commented on #100
it's not default it's stack you could select using 'stack' parameter in your .worker file.
Using stack you could customize the environment you're using.

[2014-07-17 12:53] jayfresh commented on #100
There is an asterisk `*` next to the stack name: `node-0.10*` - at the bottom of the table it says, "*default language version if a specific "stack" is not declared in .worker file". If the default language version is v0.8.8 then the documentation as written is a little misleading, to me anyhow.

[2014-07-21 20:36] KobaKhit commented on #101
Resolved. Just had to figure out the right environment structure.

[2014-08-22 18:15] kmiyashiro commented on #74
:+1:

[2014-08-22 18:16] adelevie commented on #74
hubot img mindexplode.gif

On Fri, Aug 22, 2014 at 2:15 PM, Kelly Miyashiro notifications@github.com
wrote:

[2014-08-22 18:21] treeder commented on #74
Hey guys, I moved this to our feature request board on Trello, please vote and comment on it there: https://trello.com/c/xVwn79L4/36-ironworker-status-callbacks

[2014-08-22 18:21] #74 closed, assigned to nobody

[2014-09-16 15:13] jayfresh commented on #100
Hey guys, I see you've updated the docs to make it clearer that 0.8 is the default, so you can close this is you like.

[2014-10-27 14:29] jstreb opened #102 "When paging through queues page, get stuck on page 99"
We have hit an issue with the listQueues endpoint in which the API call to get page 100, 101, 102...etc always returns the queues for page 99.

Note we are using node.js with the https://github.com/iron-io/iron_mq_node package, however, this does not appear to be an issue in the NPM package.

I see the correct page number being requested, so I suspect this to be an issue on the server.

{ method:

[2014-11-17 22:49] aviflax opened #103 "Email Support Page is down"
I found a link to [this page](http://support.iron.io/customer/portal/emails/new) over [here](http://dev.iron.io/worker):

[code]

[2014-11-17 22:51] Stephenitis commented on #103
Hello Avi thanks for the notice. Can you email support@iron.io for now or click on the support button in our dashboard?

[2014-11-17 22:51] #103 closed, assigned to nobody

[2014-11-17 22:59] aviflax commented on #103
Yup will do thanks.

[2014-11-27 06:59] #100 closed, assigned to nobody

[2014-12-29 05:35] kwent commented on #99
I resolved this issue by creating a special [neography gem](http://rubygems.org/gems/neography-down) and removing zip-zip dependencies.

Regards

[2014-12-29 05:35] #99 closed, assigned to nobody

[2015-02-03 18:10] alnutile opened #104 "When I click Logging in the docs it might not be the right link"
see image
![iron](https://cloud.githubusercontent.com/assets/365385/6026129/ede50770-aba5-11e4-9cf7-22b1ace44a21.png)

The url it brings me to is http://dev.iron.io/worker/#inspect and if you look at the image it is not really about logging?

[2015-02-03 21:48] Stephenitis commented on #104
Fixing it as our root page for our documentation changed breaking that link.
Thanks for the heads up

[2015-02-14 13:48] kanggit opened #105 "After latest update it shows 404 error"
Yesterday when i did _composer update_, ironmq was updated to dev-master, so it was throwing _"Class IronMQ not found"_ issue. After going through issue discussions here I downgraded to _3.0.1_. Previous error disappeared but getting _404 Not found_ error.

When i debugged it was an issue with _api_version_ in latest version of code.

Below url throws 404.
_https://mq-aws-us-east-1.iron.io:443/3/p

[2015-02-14 14:20] thousandsofthem commented on #105
Please try library version "1.*"

[2015-02-14 16:44] thousandsofthem commented on #105
Short summary. I'll update README
Branches:
- `1.*` - laravel-compatible, php-5.2-compatible version. No namespaces. Using default IronMQ servers.
- `2.*` - PSR-4 compatible version with namespaces. Using default IronMQ servers. If you're not using laravel stick with it.
- `3.*` - Special version for IronMQ API v3. Different API, different server endpoints. Go with it if you're using [IronMQ on-pr

[2015-02-16 15:20] kanggit commented on #105
Got it. I will fallback to 1.*

[2015-02-17 00:23] #105 closed, assigned to nobody

[2015-03-20 12:44] sanjay1688 opened #106 "error while deleteing the message"
hey guys

i m using iron mq using laravel 4

'iron' => array(
            'driver'  => 'iron',
            'host'    => 'mq-aws-us-east-1.iron.io',
            'token'   => 'XXXXXXXXXXX',
            'project' => 'XXXXXXXXXXXXX',
            'queue'   => 'app',
            'encrypt' => true,
        ),

$messageid1 =  Mail::queue($email_template, $email_template_data, function($message) use ($emai

[2015-03-20 19:33] treeder commented on #106
Are you using the Laravel / IronMQ Push Queues: http://laravel.com/docs/5.0/queues#push-queues ?

If so, you don't need to delete the message, it will be deleted automatically if it was successfully posted to your application.

[2015-12-19 13:58] John-Lin opened #107 "The Worker Getting Started page instruction is incorrect"
Hi iron-io team,

I found there is a instruction mistake in the Worker Getting Started page. In the **Upload Your Worker** section the zip command should be `zip -r hello_worker.zip .`

The instructions missing the dot which represent the current directory. It will confuse newbies.

![screen shot 2015-12-19 at 9 53 41 pm](https://cloud.githubusercontent.com/assets/4214069/11913340/a7cb683c-a69b-11

[2015-12-30 16:37] thousandsofthem commented on #107
Everything looks good now, closing

[2015-12-30 16:37] #107 closed, assigned to thousandsofthem

[2016-06-02 12:55] servicedesk-missguided opened #108 "Iron.io Plan"
Hi,

I’m not sure on the relevant contact in regards to this issue but we have been receiving alerts to our service desk stating the following:

“Used 131% of IronMQ plan amount”

I have had notification that we should be on the IronMQ Production Plan which allows for 100M API requests per month but instead we are still on a 1M API plan. It would seem that we have not moved over to this plan which

[2016-06-02 18:49] treeder commented on #108
Hi, this sounds like something you'll want to email support@iron.io about.

[2017-11-21 10:32] #108 closed, assigned to nobody

[2019-11-01 02:54] #16 closed, assigned to nobody

[2021-04-26 21:23] #78 closed, assigned to nobody

[2021-11-06 15:39] #85 closed, assigned to nobody

[2021-11-06 15:40] #87 closed, assigned to nobody